{% extends "base.html" %}

{% block title %} Todo List {% endblock %}

{% block body %}

<div class="container mb-2 mb-md-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="my-2 my-md-4">To-do List</h1>
            {% if new %}
            <div id="new" class="alert alert-success alert-dismissible fade show  tooltip" role="alert">
                <strong>Holy guacamole!</strong> Added new item to list.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 d-flex justify-content-between px-3 my-2 my-md-4">
            <a href="/admin/logout" role="button" class="btn btn-primary">Logout</a>
        </div>
    </div>
    {% include('table.html') %}

</div>


{% endblock %}
