{% extends "base.html" %}

{% block title %} Cabinet Login {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="my-2 my-md-4">Admin Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form method="POST" action="/admin/login">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input value="{{ values.login }}" name="login" type="login" class="form-control" id="login" aria-describedby="login"
                           placeholder="Login">
                    {% if errors.login %}
                    {% for message in errors.login %}
                    <small class="text-danger">{{message}}</small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input value="{{ values.password }}" name="password" type="password" class="form-control" id="password" placeholder="Password">
                    {% if errors.password %}
                    {% for message in errors.password %}
                    <small class="text-danger">{{message}}</small>
                    {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
<script>

</script>

{% endblock %}
