{% extends "base.html" %}

{% block title %} Todo List {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="my-2 my-md-4">Add to List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form method="POST" action="/create">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input value="{{ values.email }}" name="email" type="email" class="form-control" id="email" aria-describedby="email"
                           placeholder="Enter email">
                    {% if errors.email %}
                        {% for message in errors.email %}
                            <small class="text-danger">{{message}}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input value="{{ values.name }}" name="name" type="text" class="form-control" id="name" placeholder="Name">
                    {% if errors.name %}
                        {% for message in errors.name %}
                            <small class="text-danger">{{message}}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea name="text" type="text" class="form-control" id="text" placeholder="Text">{{ values.text }}</textarea>
                    {% if errors.text %}
                        {% for message in errors.text %}
                            <small class="text-danger">{{message}}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
<script>

</script>

{% endblock %}
