<div class="row">
    <div class="col-12">
        {% if tasks %}
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex">
                <ul class="pagination pagination-sm flex-wrap">
                    <li class="page-item {{ page == 1 ? 'disabled' : ''}}"><a class="page-link" href="/{{admin ? 'admin/cabinet': ''}}?page={{page-1}}&sort={{sort}}&dir={{dir}}">Previous</a></li>
                    {% for pageList in 1..totalPages %}
                    <li class="page-item {{ page == pageList ? 'active' : ''}}"><a class="page-link" href="/{{admin ? 'admin/cabinet': ''}}?page={{pageList}}&sort={{sort}}&dir={{dir}}">{{pageList}}</a></li>
                    {% endfor %}
                    <li class="page-item {{ page == totalPages ? 'disabled' : ''}}"><a class="page-link" href="/{{admin ? 'admin/cabinet': ''}}?page={{page+1}}&sort={{sort}}&dir={{dir}}">Next</a></li></ul>
            </nav>
        </div>
        <table class="table table-borderless table-responsive-sm">
            <thead>
            <tr>
                <td>
                    <a target="_self" href="/{{admin ? 'admin/cabinet': ''}}?page={{page}}&sort=email&dir={{dir == 'asc' ? 'desc' : 'asc'}}">Email</a>
                </td>
                <td>
                    <a target="_self" href="/{{admin ? 'admin/cabinet': ''}}?page={{page}}&sort=name&dir={{dir == 'asc' ? 'desc' : 'asc'}}">Name</a>
                </td>
                <td>
                    <a target="_self" href="/{{admin ? 'admin/cabinet': ''}}?page={{page}}&sort=text&dir={{dir == 'asc' ? 'desc' : 'asc'}}">Text</a>
                </td>
                <td>
                    <a target="_self" href="/{{admin ? 'admin/cabinet': ''}}?page={{page}}&sort=status&dir={{dir == 'asc' ? 'desc' : 'asc'}}">Status</a>
                </td>
                <td> Edited</td>
                {% if admin %}
                    <td>
                        Admin action
                    </td>
                {% endif  %}
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    {{ task.email|escape }}
                </td>
                <td>
                    {{ task.name|escape }}
                </td>
                <td>
                    {{ task.text|escape }}
                </td>
                <td>
                    {{ task.status|escape }}
                </td>
                <td>
                    {{ task.edited }}
                </td>
                {% if admin %}
                <td>
                    <a  href="/admin/edit?id={{task.id}}" role="button" class="btn btn-primary">Edit</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No tasks</h2>
        {% endif %}

    </div>
</div>